@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}

/*
.container img{
      height: 100vh;
      width: 100vw;
      min-height: 1200px;
      min-width: 1600px;
      text-align: center;
}
*/
.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat';
  font-size: 5vw;
  color:#FFFFFF;
  font-weight:bold;
  transform: translate(-50%, -50%);
  animation: fadein 1.4s;
}

.fa-angle-down {

color: transparent;

font-size: 4.688rem;

display: inline-block;

position: absolute;

text-shadow: 0 -20px transparent, 0 0px #fff;

text-decoration: none;

transition: all 0.3s;

-webkit-transition: all 0.3s;

cursor: pointer;

position: absolute;
top: 70%;
left: 50%;

  animation: fadeinARROW 3s;
  /*
  animation: arrowjiggle 3s linear infinite;
  */
}





.fa-angle-down:hover{

  text-shadow: 0 0px #fff, 0 60px transparent;

  color: transparent;

}

.open{
  /*please git work*/
  background-image: url("BTbg.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 130vh;
}
.menu{
  height: 7vh;
  width: 100%;
  background: #252526;
  text-align: center;
}

.btn{
  color: #FFFFFF;
  display: inline-flex;
  height: 3vh;
  width: 10vw;
  border: .2vh solid #e8e3dd;
  padding: .5vh 1vw;
  font-size: 15px;
  font-family: 'Montserrat';
  cursor: pointer;
  margin: 1vw;
  transition: 0.8s;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
    color: #fc7f03;
    border-radius: 3vw;
    border: .2vh solid #fc7f03;
    transition: 0.8s;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}


@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

@keyframes fadein {
  from{ top:-5vh; opacity:0 }
  to{ top:25%; opacity:1 }
}

@keyframes fadeinARROW {
  12.5% {opacity:0;}
  25% {opacity:0;}
  37.5% {opacity:0;}
  50% {opacity:0;}
  62.5% {opacity:0;}
  75% {opacity:1;}
}

.companies{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  min-height: 100vh;
}

.cards{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;

}

.cards .card{
  position: relative;
  height: 350px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
  border-radius: 25px;
  box-shadow: 5px 10px #595757;
}

.cards .card .imgBox{
  position: absolute;
  top: -1;
  left: -1;
  width: 103%;
  height: 103%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 25px;
  box-shadow: 5px 10px #2b2a2a;
}

.cards .card:hover .imgBox{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: #ff0057;
}

.cards .card .imgBox:before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 700;
}

.cards .card .imgBox img{
  max-width: 300px;
  transition: 0.5s ease-in-out;
}
.cards .card:hover .imgBox img{
  max-width: 75px;
}

.cards .card .content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card .content h1{
  margin-bottom: 5px;
  font-size: 24px;
}

.cards .card .content a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #fff;
  text-decoration: none;
  color: #fff;
}

@media (max-width:1200px)
{
  .btn
  {
      font-size: 13px;
  }
}


@media (max-width: 992px)
{
  .btn
  {
      font-size: 13px;
  }
    .cards
    {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .cards .card
    {
      width: 400px;
      border-radius: 0;
      box-shadow: none;
    }
    .cards .card .imgBox
    {
      width: 403px;
      border-radius: 0;
      box-shadow: none;
    }
}



@media (max-width: 768px)
{
  .btn
  {
      font-size: 10px;
  }
    .cards .card
    {
      max-width: 300px;
      flex-direction: column;
      height: auto;
      border-radius: 0;
      box-shadow: none;
    }
    .cards .card .imgBox
    {
      position: relative;
      border-radius: 0;
      box-shadow: none;
    }
    .cards .card .imgBox,
    .cards .card:hover .imgBox
    {
      width: 100%;
      height: 200px;
      left: 0;
    }
    .cards .card .imgBox img,
    .cards .card:hover .imgBox img
    {
      max-width: 100px;
    }
    .cards .card .content
    {
      position: relative;
      width: 100%;
    }
}
