*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.container{
  width: 100%;
  height: 100vh;
  background: rgb(148,108,195);
  background: linear-gradient(90deg, rgba(148,108,195,1) 27%, rgba(104,163,210,1) 90%);
}

::-webkit-scrollbar
{
  width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 5vw;
  height: 100%;
  background: rgb(220,206,237);
  background: linear-gradient(90deg, rgba(220,206,237,1) 27%, rgba(188,192,228,1) 90%);
  animation: animate 5s linear infinite;
  z-index: 1000;
}
@keyframes animate
{
    0%,100%
    {
      filter: hue-rotate(0deg);
    }
    50%
    {
      filter: hue-rotate(180deg);
    }

}
#progressbar:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(220,206,237);
  background: linear-gradient(90deg, rgba(220,206,237,1) 27%, rgba(188,192,228,1) 90%);
  filter: blur(2vw);
  z-index: 1000;
}
#progressbar:after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(220,206,237);
  background: linear-gradient(90deg, rgba(220,206,237,1) 27%, rgba(188,192,228,1) 90%);
  filter: blur(6vw);
  z-index: 1000;
}

.menu{
  height: 5vh;
  width: 100%;
  background: #e8e3dd;
}

.menu ul{
  display: inline-flex;
  margin: 2vw;

}


.menu ul b{
  margin: 0 2vw;
  color: #1CD2E2;
  cursor: pointer;
}
.menu ul b:hover{
background-color: #A6A3A7;
color: cyan;
padding: 3vh 4vw;
text-align: center;
text-decoration: none;
display: inline-block;
}



.menu ul a{
  margin: 0 3vw;
  color: #6A666C;
  cursor: pointer;
}
.menu ul a:hover{
background-color: #A6A3A7;
color: cyan;
padding: 3vh 4vw;
text-align: center;
text-decoration: none;
display: inline-block;
}

.logo img{
    width: 5vw;
    margin-top: -1vh;
    margin-right: 0;
}
.active{
  color: #19bafa !important;
}
.banner{
  width: 80%;
  height: 70%;
  top: 25%;
  left: 5vw;
  position: absolute;
  color: #fff;
}
.App-text{
  width: 50%;
  float: left;
}
.App-text h1{
  font-size: 4vh;
  width: 20vw;
  position: relative;
  margin-left: 2vw;
}
.App-text p{
  width: 5vw;
  font-size: 2vh;
  margin: 3vh 0 3vh 1vw;
  line-height: 3vh;
  color: #919191;
}
.app-picture{
  width: 50%;
  float: right;
}
.app-picture img{
  width: 100%;
  margin-top: -2vh;
  padding-left: 2vw;
}

.quick-links{
    border-radius: 1vh;
    left: -1vw;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
}

.quick-links ul{
  display: inline-flex;
  margin: 1vw auto;
  text-align: center;
}

.quick-links ul li{
  list-style: none;
  margin: 0 3vw;
  cursor: pointer;
}
.quick-links ul li .fa{
  font-size: 2vh;
  color: #fff;
}

.social-icons{
  right: 10vw;
  bottom: 3vh;
  position: absolute;
}

.social-icons ul li{
  list-style: none;
  margin-top: 3vh;
  text-align: center;
}

.social-icons ul li a{
  color: #999;
  border-radius: 50%;
  border: .2vh solid #999;
  padding: .5vh;
  display: block;
}
#navbar {
  background-color: #e8e3dd;
  position: fixed;
  top: -5vh;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 2;
}

#navbar a {
  float: left;
  display: block;
  color: #1CD2E2;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size: 2vh;
  z-index: 1;
}

#navbar a:hover {
  background-color: #A6A3A7;
  color: cyan;
  padding: 2vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h2{
  height: 200vh;
}
h3{
  height: 250vh;
}
h4{
  height: 300vh;
}
h4{
  height: 350vh;
}
